<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Students List</title>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
</head>
<body>

<div th:replace="templates/fragments :: header">

</div>
<table class="table table-dark">
<thead>
<tr>
  <th scope="col">First</th>
  <th scope="col">Last</th>
  <th scope="col">Group ID</th>
</tr>
</thead>
<tbody>
<tr th:each="student : ${students}">
  <td th:href="@{/student/{id}(id=${student.getStudentId()})}" th:text="${student.getFirstName()}">
  <td th:text="${student.getLastName()}">
  <td th:text="${student.getGroupId()}">
</tbody>
</table>
<!--<div th:each="student : ${students}">-->
<!--  <a th:href="@{/student/{id}(id=${student.getStudentId()})}"-->
<!--     th:text="${student.getFirstName() + ' ' + student.getLastName()}">user</a>-->
<!--  <p th:text="${'Group ID  - ' + student.getGroupId()}">VALUE</p>-->

<!--</div-->

    ><button>
  <a th:href="@{/student/{id}/edit(id=${student.getStudentId()})}">Edit</a>
</button>

</body>
</html>


