<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Student Information Edit</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/student/{id}(id=${student.getStudentId()})}" th:object="${student}">
<!--<input type="hidden" name="_method" value="patch">-->
  <label for="firstName">Enter first name: </label>
  <input type="text" th:field="*{firstName}" id="firstName"/>
  <br/>
  <label for="lastName">Enter last name: </label>
  <input type="text" th:field="*{lastName}" id="lastName"/>
  <br/>
  <label for="groupId">Enter group id: </label>
  <input type="text" th:field="*{groupId}" id="groupId"/>
  <br/>
  <input type="submit" value="Update!"/>
</form>

</body>
</html>