<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<head>
    <meta charset="UTF-8">
<head>
    <meta charset="UTF-8">
    <title>Students</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>

<div th:replace="templates/fragments :: header">

</div>
<h1>Student</h1>

<!--<div class="card" style="width: 18rem;">-->
<!--    <img src="..." class="card-img-top" alt="...">-->
<!--    <div class="card-body">-->
<!--        <h5 class="card-title">Student</h5>-->
<!--        <p class="card-text" th:text="${student.getFirstName() + ' ' + student.getLastName()}">-->
<!--        <p class="card-text" th:text="${'Group Id ' + student.getGroupId()}">-->
<!--        <a th:href="@{/student/{id}(id=${student.getStudentId()})}" class="btn btn-primary">Edit</a>-->
<!--    </div>-->
<!--</div>-->



<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Student</h5>
        <h6 class="card-subtitle mb-2 text-muted" th:text="${student.getFirstName() + ' ' + student.getLastName()}"/>
        <p class="card-text" th:text="${'Group Id ' + student.getGroupId()}"/>
        <a th:href="@{/student/{id}/edit(id=${student.getStudentId()})}" class="card-link">Edit</a>
        <a href="/student" class="card-link">Back</a>
    </div>
</div>




<!--<p th:text="${student.getFirstName() + ' ' + student.getLastName()}">VALUE</p>-->
<!--<p th:text="${'Group Id ' + student.getGroupId()}">VALUE</p>-->

<!--<button th:href="@{redirect:/student/all_students.html}">VALUE</button>-->

<!--<form th:method="DELETE" th:action="@{/student/{id}(id=${student.getStudentId()})}">-->
<!--    <input type="submit" value="Delete"/>-->
<!--</form>-->
</body>
</html>