<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lesson</title>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
</head>
    <body>
    <div th:replace="templates/fragments :: header">

    </div>

    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Lesson</h5>
        <p th:text="${'Audience '+lesson.getAudienceId()}">VAlUE</p>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
          the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <!--<h1>Lesson</h1>-->
    <!--  <p th:text="${'Lesson '+lesson.getLessonName()}">VALUE</p>-->
    <!--  <p th:text="${'Audience '+lesson.getAudienceId()}">VAlUE</p>-->
    <!--  <p th:text="${'Lesson Start ' + lesson.getLessonStart()}">VALUE</p>-->
    <!--  <p th:text="${'Lesson End ' + lesson.getLessonEnd()}">VALUE</p>-->

    </body>
</html>